name: publish

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: astral-sh/setup-uv@v5
      - run: |
          (cd packages/modern-di && uv version $GITHUB_REF_NAME && just publish modern-di)
          (cd packages/modern-di-faststream && uv version $GITHUB_REF_NAME && just publish modern-di-faststream)
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
