name: publish

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: astral-sh/setup-uv@v5
      - run: |
          just publish modern-di
          just publish modern-di-fastapi
          just publish modern-di-litestar
          just publish modern-di-faststream
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
